@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-padding-top: 15%;
  overflow-x: hidden; 
  width: 100%;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}


@tailwind base;
@tailwind components; 
@tailwind utilities;
